<!--
What is a Class?: Class is a small functions that are special, includs some declarations (examples: Name: Johnny; Height: 5'6;)

class defninition include adding classes like car, model, make, and year

I dont know what is class inheritance

Not sure what are subclasses and super classes

Private only memebers of the same class are allowed to access
public means everyone is allowed to access
protected  means that memebers of some classes are allowed to use it

-->
<div class="CarBrand">
  Make:{{make}}
  Model: {{model}}
  Year: {{year}}
  Color: {{color}}
</div>
